
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <ul class="nav navbar-nav">
              <li><a href="#" (click)="setUser()">Users</a></li>
              <li><a href="#" (click)="setGroup()" >Groups</a></li>
              <li><a href="#">Admins</a></li>
              </ul>
      </div>
    </div>
  </nav>
  <ng-container *ngIf="isGroup">
    <app-groups></app-groups>
  </ng-container>
  <ng-container *ngIf="isUser">
      <app-users></app-users>
    </ng-container>
    <ng-container *ngIf="isPanel">
      <app-main-panel (UsersInfo)="setUser($event)"></app-main-panel>
    </ng-container>

