.row{
  padding-top:10%;
  padding-left: 30px;
  padding-right: 30px;
  /* text-align: center; */
  font-size: 18px;

}
.row button{
  padding-left:30px;
  padding-right: 30px;
  color: white;
  background-color: steelblue;

}
