<div class="jumbotron">
  <div class="text-center">
    <h1>Users</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row" class="text-center">
    <button type="button" class="btn btn-primary btn-lg" (click)="ShowListOfUsers()">Show List</button>
    <button type="button" class="btn btn-primary btn-lg" (click)="AddUser()">Add new user</button>
  </div>
</div>
<ng-container *ngIf="AddUserForm">
  <div class="text-center">
    <br>
    <h3>Name</h3>
    <input type="text" [(ngModel)]="Name">
    <br>
    <h3>Password</h3>
    <input type="text" [(ngModel)]="Password">
    <br>
    <h3>FirstName</h3>
    <input type="text" [(ngModel)]="FirstName">
    <br>
    <h3>LastName</h3>
    <input type="text" [(ngModel)]="LastName">
    <br>
    <h3>Date of Birth</h3>
    <input type="date" [(ngModel)]="DateOfBirth">
    <br>
    <br>
    <!--  -->
    <button type="button" class="btn btn-success btn-lg" (click)="ChooseAGroup()">Choose a group</button>
    <ng-container *ngIf="ChooseAGr">
      <div class="text-center">
        <div class="row">
          <div class="col-sm-1">
            <button type="button" class="btn btn-success">Group 1</button>
          </div>
        </div>
      </div>
    </ng-container>

    <!--  -->
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg" (click)="AddNewUser(Name,Password,FirstName)">Add user</button>
  </div>
</ng-container>

<ng-container *ngIf="ShowList">
  <br>
  <div class="text-center">
    <div class="row">
      <div class="col-sm-1">
        ID
      </div>
      <div class="col-sm-1">
        Name
      </div>
      <div class="col-sm-1">
        <p>Password</p>
      </div>
      <div class="col-sm-1">
        <p>FirstName</p>
      </div>
      <div class="col-sm-1">
        <p>LastName</p>
      </div>
      <div class="col-sm-1">
        <p>Date of birth</p>
      </div>
      <div class="col-sm-1">
        <p>Groups</p>
      </div>
      <div class="col-sm-1">
        <p>Edit User</p>
      </div>

      <div class="col-sm-1">
        <p>Remove User</p>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let u of UsersList;let i = index">
    <div class="text-center">
      <div class="row">
        <div class="col-sm-1">
          <p>{{u.ID}}</p>
        </div>
        <div class="col-sm-1">
          <p>{{u.name}}</p>
        </div>
        <div class="col-sm-1">
          <p>{{u.password}}</p>
        </div>
        <div class="col-sm-1">
          <p>{{u.firstName}}</p>
        </div>
        <div class="col-sm-1">
          <p>{{u.lastName}}</p>
        </div>
        <div class="col-sm-1">
          <p>{{u.dateOfBirth}}</p>
        </div>
        <div class="col-sm-1">
          <p>Groups</p>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-success" (click)="EditUser(u)">Edit User</button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-danger" (click)="RemoveUser(i)">Remove User</button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="editUser">
  <div class="text-center">
    <br>
    <h3>Name</h3>
    <input type="text" [(ngModel)]="Name" >
    <br>
    <h3>Password</h3>
    <input type="text" [(ngModel)]="Password">
    <br>
    <h3>FirstName</h3>
    <input type="text" [(ngModel)]="FirstName">
    <br>
    <h3>LastName</h3>
    <input type="text" [(ngModel)]="LastName">
    <br>
    <h3>Date of Birth</h3>
    <input type="date" [(ngModel)]="DateOfBirth">
    <br>
    <br>
    <!--  -->
    <button type="button" class="btn btn-success btn-lg" (click)="ChooseAGroup()">Choose a group</button>
    <ng-container *ngIf="ChooseAGr">
      <div class="text-center">
        <div class="row">
          <div class="col-sm-1">
            <button type="button" class="btn btn-success">Group 1</button>
          </div>
        </div>
      </div>
    </ng-container>

    <!--  -->
    <br>
    <br>
    <!-- <button type="button" class="btn btn-primary btn-lg" (click)="UpdateUser()">
      Save
    </button> -->
  </div>

</ng-container>
